.nameheader {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
}

.btn-add {

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.tournament {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.box {
    width: 300px;
    margin: 50px auto;
    background: rgba(0, 203, 221, 1);
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: absolute;
    top: 2%;
    left: 24%;
    border-radius: 10px;

    input{
        margin: auto;
    }
}

.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid rgba(0, 203, 221, 1);
    border-top: 10px solid rgba(0, 203, 221, 1);
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}
