<header>
    <div class="row p-3 m-3 bg-component header">
        <h1 class="col-sm-3">
            <strong><span class="blue">Cryptonic</span> Gaming</strong>
        </h1>
        <nav class="col-sm-5 text-center">
            <li class="p-4 text-uppercase"><a [routerLink]="['app-homepage']">home</a></li>
            <li class="p-4 text-uppercase"><a [routerLink]="['app-tourney-list']">teams</a></li>
            <li class="p-4 text-uppercase"><a [routerLink]="['app-tourney-list']">tournaments</a></li>
            <li class="p-4 text-uppercase"><a [routerLink]="['app-tourney-list']">rankings</a></li>
        </nav>
        <h5 *ngIf="currentUser.username" class="col-sm-4 text-right profile" (click)="logout()">Welcome, <span class="blue">{{ currentUser.username }}</span></h5>
    </div>
</header>