<h2 class="text-center mt-5 mb-5">{{ currentTournament.name }}</h2>
<button class="btn btn-primary" [routerLink]="['/app-tourney-list']">All Tournaments</button>
<div class="row">
    <div class="col-sm-6">
        <h3 class="text-center pt-4">MATCHES</h3>
        <div *ngFor="let match of orderedMatches">
            <div class="mt-2 mb-2 p-2 match text-center" >
                <h5 class="text-center">{{match.matchname}}: BO{{match.bo}}</h5>
                <div class="vs row text-center">
                    <p class="col-sm-5 text-center">{{match.players[0].username}}</p>
                    <p class="col-sm-2 text-center">{{match.score1}} - {{match.score2}}</p>
                    <p class="col-sm-5 text-center">{{match.players[1].username}}</p>
                </div>
            </div>
            <div *ngFor="let game of match.games">
                <div class="game text-center">
                    <h4 class="text-center">{{ game.gamename }}</h4>
                    <div class="row text-center">
                        <p class="col-sm-5 text-center">{{game.players[0].username}}</p>
                        <p class="col-sm-2 text-center">VS</p>
                        <p class="col-sm-5 text-center">{{game.players[1].username}}</p>
                    </div>
                    <button class="btn btn-primary" [disabled]="game.played || match.played" (click)="playerWins(match.id, game.id, game.players[0].id, 0)">{{ game.players[0].username }} wins</button>
                    <button class="btn btn-primary" [disabled]="game.played || match.played" (click)="playerWins(match.id, game.id, game.players[1].id, 1)">{{ game.players[1].username }} wins</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h3 class="text-center pt-4">RANKING</h3>
        <table class="table table-row">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-center">Username</th>
                    <th class="right">Points</th>
                </tr>
            </thead>
            <tbody *ngFor="let player of orderedPlayers; let i = index">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td class="text-center">{{ player.username }}</td>
                    <td class="right">{{ player.points }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>