.vs{
    width: 100%;
    font-size: 1.5em;
}

.match{
    border: 1px black solid;
    &:hover{
        cursor: pointer;
    }
}

.right{
    text-align: right;
}

.hidden{
    display: none;
}

.red{
    background-color: red;
    border-color: red;
}

.green{
    background-color: green;
    border-color: green;
}