<div class="friendslist">
    <div class="row">
        <h5 class="text-uppercase ml-3 col-sm-9">my<span class="blue"> friends</span></h5>
        <i class="fas fa-user-plus float-right mr-3 mt-1"></i>
    </div>
    <h6 class="text-center mt-3" (click)="openList(0)"><span class="blue">
        <i *ngIf="!online_open" class="fas fa-sort-up"></i><i *ngIf="online_open" class="fas fa-sort-down"></i>
            Online</span> ({{ online_friends.length }})</h6>
    <div *ngIf="online_open">
        <div *ngFor="let friend of online_friends">
            <div class="row m-3">
                <div class="col-sm-10" style="color: white;">{{ friend.username }}</div>
                <div class="col-sm-2"><i class="fas fa-trash-alt delete"></i></div>
            </div>
        </div>
    </div>
    <h6 class="text-center mt-3" (click)="openList(1)"><span class="blue">
            <i *ngIf="!offline_open" class="fas fa-sort-up"></i><i *ngIf="offline_open" class="fas fa-sort-down"></i>
            Offline</span> ({{ offline_friends.length }})</h6>
    <div *ngIf="offline_open">
        <div *ngFor="let friend of offline_friends">
            <div class="row m-3">
                <div class="col-sm-10">{{ friend.username }}</div>
                <div class="col-sm-2"><i class="fas fa-trash-alt delete"></i></div>
            </div>
        </div>
    </div>
</div>