.delete{
    color: red;
    &:hover{
        cursor: pointer;
    }
}

.inputfield{
    
}

.btn-add{
    color: green;
}

#bo{
    margin-right: 30%;
    width: 7%;
}

#uninput{
    width: 70%;
    margin-right: 20%;
}

#gameinput{
    margin-right: 15%;
}