.delete {
    color: rgba(255, 0, 0, 0.7);
    &:hover {
        cursor: pointer;
        color: rgba(255, 0, 0, 1);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-add {
    color: rgba(0, 203, 221, 0.8);

    &:hover {
        color: rgba(0, 203, 221, 1);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.gameinput {
    float: right;
}

.playertable {
    width: 70%;
    margin: auto;

    th{
        border-top: none;
    }

    input {
        width: 65%;
        border-top: none;

        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
}

.gametable {
    width: 70%;
    margin: auto;

    th{
        border-top: none;
    }

    td {
        width: 20%;
        &:first-child {
            width: 60% !important;
        }
    }

    input{
        width: 80%;
    }
}

.nameheader {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
}

.tourInfo {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    color: white;

    table {
        color: white;
    }
}

.btns{
    width: 100%;
}

.btn-cancel {
    color: rgba(255, 0, 0, 0.7);

    &:hover {
        color: rgba(255, 0, 0, 1);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-make {
    background-color: rgba(0, 203, 221, 0.8);
    color: white;

    &:hover {
        background-color: rgba(0, 203, 221, 1);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}
