<div class="nameheader mt-5 pt-4 pb-4">
    <h2 class="text-center">{{ tournament.name }}</h2>
</div>
<div class="tourInfo mt-3 p-5">
    <h3 class="text-center mb-5">Participants</h3>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-row">
                <thead>
                    <tr>
                        <th class="blue">Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let player of tournament.participants">
                    <tr>
                        <td>{{ player.username }}</td>
                        <td class="delete"><i (click)="deleteUser(player)" class="fas fa-trash-alt float-right"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <form [formGroup]="playerForm" (ngSubmit)="addPlayer()">
                <div class="form-inline uninput">
                    <input placeholder="Add user" type="text" formControlName="username" class="form-control inputfield">
                    <!-- <small *ngIf="pf.username.errors.required">Username is required!</small> -->
                    <button type="submit" class="btn btn-add"><i class="fas fa-plus-square fa-2x"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="tourInfo mt-3 p-5">
    <h3 class=" text-center mb-5">Games</h3>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-row gametable">
                <thead>
                    <tr>
                        <th class="blue">Game</th>
                        <th class="blue">BO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let tourgame of tournament.tourGames">
                    <tr>
                        <td>{{ tourgame.gamename }}</td>
                        <td>{{ tourgame.bo }}</td>
                        <td class="delete"><i (click)="deleteGame(tourgame)" class="fas fa-trash-alt float-right"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <form [formGroup]="matchForm" (ngSubmit)="addTourGame()">
                <div class="form-inline gameinput">
                    <input type="text" placeholder="Add game" formControlName="gamename" class="form-control inputfield" class="mr-2">
                    <!-- <small *ngIf="pf.username.errors.required">Gamename is required!</small> -->
                    <select formControlName="bo" name="bo" id="bo">
                        <option value="BO" selected>--BO--</option>
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                    </select>
                    <button type="submit" class="btn btn-add"><i class="fas fa-plus-square fa-2x"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="btns float-right mt-5 mb-5">
    <button [routerLink]="['/app-tourney-list']" class="btn btn-cancel">Cancel</button>
    <button (click)="makeTourney()" class="btn btn-make">Make</button>
</div>